:root {
  --white: #fff;
  --white-half: #d7ccc0;
  --light: #f5f4f0;
  --orange: #fe8a02;
  --main-dark: #42413c;
  --main-black: #2a2626;
  --dark-half: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --orange-hover: #ea7600;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
  font-display: swap;
}

* {
  margin: 0;
}

body {
  color: var(--main-black);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  color: var(--orange);
  font-weight: 400;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-weight: 700;
  font-size: 14px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.bg-light {
  position: relative;
}

.bg-light::before {
  position: absolute;
  z-index: -100;

  width: 100%;
  height: 100%;

  background-color: var(--brown);
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

/* по какой логике группировать классы??? */

.columns-bottom {
  columns: 2;
  column-gap: 30px;
}

.columns-bottom > div {
  break-inside: avoid;
}

.color-main {
  color: var(--main-black);
}

header {
  overflow: hidden;
}

.img-header {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -10;

  height: 525px;
}

.relative {
  position: relative;
}

.py-100 {
  padding: 100px 0;
}

.mt-200 {
  margin-top: 200px;
}

.mt-15 {
  margin-top: 15px;
}

.details {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--orange);
}

.details:hover {
  background-color: var(--orange-hover);
}
